<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <% if (htmlWebpackPlugin.options.devserver) { %>
    <script>
      window.baseUrl=htmlWebpackPlugin.options.devBaseUrl || "";
      window.gameSettings={title:htmlWebpackPlugin.options.title,theme:"default"}
      </script>
      <% } %>
      <link rel="icon" href="assets/icons/icon_96x96.png">

      <link rel="manifest" href="manifest.json">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
    <meta name="keywords" content="">
    <meta name="theme-color" content="#000000">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="apple-touch-icon"  href="assets/icons/icon_512x512.png">

    <link rel="stylesheet" type="text/css" href="box/css/base.css" media="screen" />

    <script>

</script>
  </head>
  <body>

    <div id="gamecontainer" >
    <div id="gamerootelement" >
      <!--noscript>
          You need to enable JavaScript to run this app.
      </noscript-->
    </div>
    </div>
  </body>
</html>
