@import "animate.css";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("material/icons.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
html,body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;


}
body {
  display:flex;
  flex-direction: row;
  align-items: center;
     justify-content: center;
}
#gamerootelement {
    position: absolute;
  width:100%;
  height:100%;
position:relative;
    background: beige;
    /* background-image: url('../images/background.jpg'); */
    background-position: center;
    background-size: cover;
}

#gamecontainer {
  display:block;
  max-width: 970px;
  max-height:600px;
  width:100%;
  height:100%;
    position: relative;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}



@media (max-width:970px) {

  #gamecontainer {
    max-width: initial;
    max-height: initial;
  }


}

.splashscreen {
width:100%;
height:100%;
}
.splashwheel {
width: 60px;
height: 60px;
    margin: auto;
    transform: translate(-50%,-50%);
    position:absolute;
    top:50%;
    left:50%;
    background-image:url('../images/loading.svg')
}
.splashscreen p {
  font-size: 2em;
  text-align: center;
}

.splashscreen_progress {
    width: 200px;
    height: 8px;
    margin: auto;
    transform: translate(-50%,-50%);
    position: absolute;
    bottom: 40%;
    left: 50%;
    background: #d2d2d2;
}

.splashscreen_progress_bar {
position: absolute;
top:0;
left:0;
    height: 8px;
width: 0%;
        background: #929292;
}
